.input{
    background: transparent;
    border: none;
    padding: 10px;
    color: #fff;
}
input:-internal-autofill-selected {
   background-color: blue  !important; 
}

.container{
    height: auto;
}